<% unless forums.empty? %>
  <table cellspacing="0" cellpadding="0" class="cssform">
    <tr>
      <th>Forum</th>
      <th>Topics (Unread)</th>
      <th>Last Post</th>
      <th>Replies</th>
      <th>Action</th>
    </tr>  
    <%=render(:partial => "forum_item", :collection => forums)%>
  </table>
<% end %>