<tr>
    <td><%= bold_text(h(topic_item.title), topic_item.unread_comment?(current_user)) %></td>
    <td><%= bold_text(h(user_display_name(topic_item.user)), topic_item.unread_comment?(current_user)) %></td>
    <td><%= bold_text(topic_item.comments.count - 1, topic_item.unread_comment?(current_user)) %></td>
    <td><%= bold_text(nvl(topic_item.user_topic_reads.sum(:views), '-'), topic_item.unread_comment?(current_user)) %></td>
    <td><%=  bold_text(h(nvl(om_date_time(topic_item.last_posting_date), '-')), topic_item.unread_comment?(current_user)) %></td>
    <td>
        <%=render(:partial => "topic_action", :object => topic_item)%>
    </td>
</tr>