#main-content {
    background-image: url(../images/general/sidebar.gif);
    background-position: right;
    background-repeat: repeat-y;
    margin: 0;
    padding: 10px 205px 10px 20px;
}

/********* Side Bar Right ***********/
#sidebar1 {
    width: 170px;
    float: right;
    padding: 10px;
}

#actionButtons
{
    position:static;
    float:right;
    white-space:nowrap;
    display:inline;
    margin:18px 0 0 0; 
    padding:0;
}