solr/production
log/*.log
log/*.log.*
tmp/**/*
index/**/*
coverage/**/*
config/environments/development.rb
nbproject
db/schema.rb
**/.specification
**/cache/**/*
vendor/gems/RedCloth-3.0.4/.specification
public/javascripts/cache/
public/themes/openmind/cache/
doc/~$Manual.docx
.project
config/observe.txt
tmp/pids/*.pid
debug.log
doc/api
doc/app
public/themes/scribe/cache/
.tmp*
development.yml
db/sphinx/development
log/searchd.production.pid
db/sphinx
.idea
.rvmrc
log/searchd.development.pid
.rvmrc
config/database.yml
restart.txt
production.rb
newrelic.yml
config/initializers/hoptoad.rb
tmp/lock.txt
