solr/production
log/*.log
tmp/**/*
index/**/*
coverage/**/*
config/environments/development.rb
nbproject
db/schema.rb
**/.specification
**/cache/**/*
vendor/gems/RedCloth-3.0.4/.specification
public/javascripts/cache/
public/themes/openmind/cache/
doc/~$Manual.docx
.project
config/observe.txt
tmp/pids/*.pid
debug.log
doc/api
doc/app
