<div id="tabBody">
  <table cellspacing="0" cellpadding="0" class="cssform">
    <tr>
      <th>Editor</th>
      <th>Changed At</th>
      <th>Change</th>
    </tr>  
    <%= render :partial => "change_log", :collection => @idea.change_logs %>
  </table>
</div>