Dear <%= @user.full_name %>,

You are watching topics that have new comments.

<% for topic in @topics %>
Forum:      <%= topic.forum.name %>
Topic:      <%= topic.title %>
  <% for comment in topic.unread_comments(@user) %>
<%= comment.user.display_name %> wrote at <%= comment.created_at.strftime("%b %d, %Y %I:%M%p") %>:
<%= comment.body %>

  <% end %>
------------------------------------------------------------------------
<% end %>