Thank you for taking the time to create idea #<%= @idea.id %>, "<%= StringUtils.strip_html(@idea.title) %>". Your feedback is greatly appreciated.

We noticed that you have not yet voted for your idea. Ideas which receive votes from the OpenMind community have the greatest likelihood of being adopted. Won't you please take a moment to vote for your idea, as well as any others that you find valuable.

Thank you!