Welcome to OpenMind. Your account has been created.

  Username:        <%= @user.login %>
  Password:        <%= @user.password %>
  Activation Code: <%= @user.activation_code %>

Before you can use OpenMind, you must first activate your account. You may do so by clicking on the following link:

<%= @url %>

Alternatively, navigate to <%= @short_url %> and enter the activation code listed above.