Welcome to OpenMind. Your account has been created.

  Username:        <%= @user.login %>
  Password:        <%= @user.password %>
  Activation Code: <%= @user.activation_code %>

Before you can use OpenMind, you must first activate your account by clicking on the following link:

<%= @url %>