OpenMind Account Request
                  
We have received your request for an OpenMind account. Once your account is approved, you will receive a second email containing your login credentials.

Send email to <%=  @admin_email %> with questions.