.digg_pagination {
  background: transparent;
  padding-top: 1em;
  padding-bottom: 1.5em;
  text-align: center;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span {
    padding: .2em .5em;    
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination span.current {
    font-weight: bold;
    background: #7F7F7F;
    color: white;
    border: 1px solid #7F7F7F; }
  .digg_pagination a {
    text-decoration: none;
    color: #7F7F7F;
    border: 1px solid #7F7F7F; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #7F7F7F;
      border-color: #003; }
  .digg_pagination .page_info {
    background: #AFAFAF;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #003;
      background: #DEDCDC;
      padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child+html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  .apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
  .apple_pagination span.disabled {
    color: #AAA; }
  .apple_pagination span.current {
    font-weight: bold;
    background: transparent url(apple-circle.gif) no-repeat 50% 50%; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.flickr_pagination {
  text-align: center;
  padding: .3em; }
  .flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination span.current {
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
