/** TAB STYLE **/
.tabs {
    margin:1px 0 0 0;
    text-align: left; 
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
}

#tabs ul{
    margin-left: 0px; 
}

.tabs ul{
    margin:0;
    padding: 0;
    list-style: none;
}

.tabs li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    text-transform:uppercase;
}

.tabs li a {
    float: left;
    display: block;
    color: white;
    margin: 0 1px 0 0; /*Margin between each menu item*/
    padding: 5px 10px;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #CFCFCF; /*Default menu color*/
    border-bottom: 1px solid white;
}
#menuline{
    clear: both;
    padding: 0;
    width: 100%;
    height: 5px;
    line-height: 5px;
    background: #AFAFAF;
}

.tabs li a:hover{
    background-color: #406A9A; /*Menu hover bgcolor*/
}

.tabs li.selected a{ /*currently selected tab*/
    background-color: #AFAFAF;
    border-color: #AFAFAF;
    font-weight:bold;
}

#tabBody {
    margin-bottom: 1em;
    padding:1px 20px;
    border-bottom: 1px solid #AFAFAF;
    border-left: 1px solid #AFAFAF;
    border-right: 1px solid #AFAFAF;
}

#tabBody ul li{
    font-size:1em;
}

#tabBody #details, #tabBody #votes {
    padding: 10px;
}

#search_area img
{
    margin:0;
}

#tabBody .cssform {
    margin: 18px 0;
    padding: 0 0 20px 0;
    border: solid 1px #ccc;
}
