<% if prodmgr? or sysadmin? or mediator? %>
  <div id="actionButtons">
    <%= link_to 'Edit', edit_attachment_path(@attachment), html_options = {:class=> "button",
      :onmouseover => "Tip('Edit this page')"} %>
  </div>
<% end %>
<%= @html %>