.formContainer {
    float: left;
    width: 100%;
}

.cssform {
    font-family: "Lucida Grande" , Tahoma, Arial, sans-serif;
    background-color: #fff;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.formTitle {
    background-color: #999;
    color: #EFEFEF;
    padding: 1px 5px 1px 8px;
    font-size: 1.125em; /*18px */
    line-height: 1.38em; /* 22px */
    padding-left: 0.25em;
}

.cssform p {
    position: relative;
    clear: left;
    margin: 0;
    padding: 5px 0 8px 0;
    padding-left: 155px; /*width of left column containing the label elements*/
    border-bottom:dotted 1px #ccc;
    height: 1%;
}

.cssform p:hover {
    background-color: #f5f5f5;
}

.cssform label {
    float: left;
    line-height: 150%;
    padding: 0 0 1px 10px;
    border: none;
    color: #222;
    display: block;
    font-weight: bold;
    margin-left: -155px;
    width: 140px;
}

.cssform input[type="text"], .cssform textarea, .cssform select {
    font-family: "Lucida Grande" , Tahoma, Arial, sans-serif;
}

.cssform input[type="text"], .cssform textarea, .cssform select {
    width: 95%;
    border:solid 1px #999;
    padding:2px;
}


.cssform textarea {
    font-size: 1em;
    height:100px;
}

.cssform input[type="checkbox"], .cssform input[type="radio"] {
    margin-right: 8px;
}

.req {
    float: none;
    color: red !important;
    font-weight: bold;
    margin: 0;
}

input.btTxt {
    font-family: "Lucida Grande" , Tahoma, Arial, sans-serif;
    margin-top: 20px;
    color: #000;
    background-color: #eee;
    padding: 0 7px;
    width: auto;
    overflow: visible;
    border: solid 1px #999;
}

input.btTxt:hover {
    color: #000;
    background-color: #ccc;
    border: solid 1px #999;
}

form .instructions {
    position: absolute;
    font-size: 0.83em;
    z-index: 1000;
    margin: 0 0 0 10px;
    padding: 0 8px;
    background: #FEFF8F;
    color: #222;
    border: solid 1px #999;
    visibility: hidden;
    width: 20%;
}

form p:hover .instructions {
    visibility: visible;
}
