* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, Sans-Serif;
    font-family: "Lucida Grande" , Tahoma, Arial, Verdana, sans-serif;
    margin: 0px;
    background-color: #312F30;
    font-size: 100%;
    line-height: 1.125em; /* 18px */
}

p, li {
    font-size: 0.75em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-family: Trebuchet MS, Verdana, Sans-Serif;
    font-size: 1.5em; /* 24px */
    line-height: 1.75em; /* 28px */
    margin: 0 0 1em 0;
    border-bottom: dotted 1px #999;
}

h2 {
    font-family: Trebuchet MS, Verdana, Sans-Serif;
    font-size: 1.38em; /*  22px */
    line-height: 1.5em; /* 24px */
    margin: 0 0 1em 0;
    border-bottom: dotted 1px #999;
}

h3 {
    margin: 0 0 1em 0;
    font-size: 1.125em; /*18px */
    line-height: 1.38em; /* 22px */
    border-bottom: dotted 1px #999;
}

h4 {
    font-size: 1em; /*16px*/
    line-height: 1.25em; /* 20px */
    font-weight: normal;
    margin: 0 0 1em 0;
    border-bottom: dotted 1px #999;
}

ul {
    clear: both;
    margin: 10px 5px 10px 25px;
    list-style-type: square;
}

img {
    border: none;
}

.inside {
    margin: 0px 20px;
}

/********* HEADER ***********/
#headerBrandingAreaPageWrap {
    z-index: 100;
    min-width: 600px;
    max-width: 1000px;
    margin: 0px auto;
    width: expression(document.body.clientWidth < 702?  "700px" : document.body.clientWidth > 1002? "1000px" : "auto" );
    padding: 0px;
}

#headerBrandingArea {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    height: 108px;
    background-repeat: repeat-x;
    background-image: url(../images/headers/headerMastheadTile.jpg);
}

.reflectionImg {
    position: absolute;
    top: 0px;
    left: 30px;
    padding: 0;
    margin: 0;
}

#headerBackground {
    width: 100%;
    height: 156px;
    background-color: #1C1A1B;
    text-align: center;
    background-image: url(../images/headers/headerBgTile.jpg);
    background-repeat: repeat-x;
}

/********* Header Nav Bar (upper) ***********/
#headerTopNavBar {
    margin: 0;
    padding: 0;
    height: 22px;
    width: 100%;
    background: #BA2726;
    text-align: center;
    background-image: url(../images/headers/headerTopNavBarTile.jpg);
    background-repeat: repeat-x;
}

.headerTopNavMenu {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    background: black url(../images/menus/topMenuItemHover.gif) center center repeat-x;
}

.headerTopNavMenu li {
    display: inline;
    font-size: 0.75em;
    line-height: 1.8em;
    font-weight: normal;
    font-family: Trebuchet MS, Verdana, Sans-Serif;
}

.headerTopNavMenu li a {
    float: right;
    color: white;
    padding: 0px 11px;
    text-decoration: none;
    border-left: 1px solid #7F1800;
    background: black url(../images/menus/topMenuItemHover.gif) center center repeat-x;
}

.headerTopNavMenu li a:visited {
    color: white;
}

.headerTopNavMenu li a:hover, .headerTopNavMenu li .current {
    border-top: 0;
    border-bottom: 0;
    color: #CCC;
    background: transparent url(../images/menus/topMenuItem.gif) center center repeat-x;
}

.headerTopNavMenu li a:active {
    color: white;
    background: transparent url(../images/menus/topMenuItemActive.gif) center center repeat-x;
}


/********* Header Nav Bar (lower) ***********/
.headerLowerNavMenu {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    background: black url(../images/menus/lowerNavTile.gif) center center repeat-x;
}

.headerLowerNavMenu li {
    display: inline;
    font-size: 0.85em;
    line-height: 2em;
    font-weight: normal;
    font-family: Trebuchet MS, Verdana, Sans-Serif;
}

.headerLowerNavMenu li a {
    float: left;
    color: white;
    padding: 0px 11px;
    text-decoration: none;
    border-right: 1px solid #666666;
    background: black url(../images/menus/blockdefault.gif) center center repeat-x;
}

.headerLowerNavMenu li a:visited {
    color: white;
}

.headerLowerNavMenu li a:hover, .headerLowerNavMenu li .current {
    color: white;
    background: transparent url(../images/menus/blockactive.gif) center center repeat-x;
}

#secondarySubnav {
    font-size: 0.75em; /* 12px*/
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: #980E10;
    color: #000; /*    padding: 0px 3px 6px 3px; */
}

#secondarySubnav a:link, #secondarySubnav a:visited, #secondarySubnav active:visited {
    height: 20px;
    margin: 0;
    padding: 0 6px;
    color: #FFF;
    text-decoration: none;
}

#secondarySubnav a:hover {
    margin: 0;
    color: #999;
    background-color: Transparent;
    text-decoration: underline;
}

/********* Main Content ***********/

#mainBodyPageWrap {
    z-index: 100;
    min-width: 600px;
    max-width: 1000px;
    margin: 0px auto;
    width: expression(document.body.clientWidth < 702?  "700px" : document.body.clientWidth > 1002? "1000px" : "auto" );
    padding: 0px;
}

#main-content {
    background-color: #fff;
    padding: 10px 20px;
}

.sidebar {
    font-size: 0.92em; /*11px*/
    line-height: 1.33em; /*16px*/
}



/********* Footer ***********/
#footer {
    font-size: 0.75em;
    color: #CCC;
    height: 35px;
    text-align: center;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url(../images/menus/footerBgTile.gif);
    vertical-align: middle;
    padding-top: 4px;
}

#footerLinks {
    z-index: 10000;
    float: right;
    background-color: Transparent;
}

#footer a:link, #footer a:visited, #footer active:visited {
    padding: 0 6px;
    color: #FFF;
    text-decoration: none;
}

#footer a:hover {
    color: #999;
    background-color: Transparent;
}


/********* Comment Boxes ***********/
.commentbox {
    font-size: 0.69em; /* 11px*/
    background-color: #ececec;
    padding: 10px;
}
.commentfooter {
    font-size: 0.69em; /* 11px*/
    background: url(../images/arrow.gif) 20px 0 no-repeat;
    padding-left: 58px;
    padding-top: 1px;
    margin-bottom: 2em;
    color: #4A4A4A;
}

.sideBarTitle {
    background-color: #999;
    color: #EFEFEF;
    padding: 1px 5px 1px 8px;
    font-size: 1.125em; /*18px */
    line-height: 1.38em; /* 22px */
    padding-left: 0.25em;
}

.sideBarItem {
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    padding: 5px 1px 5px 8px;
}

/********* UnorderList with Symbol ***********/
/************ navlist2 *************/
.unorderListNavContainer {
    padding: 10px 5px 10px 20px;
    margin: 0;
}

.navlist2 {
    list-style-image: url(../images/general/li.gif);
    padding: 0px;
    margin: 0;
}

.navlist2 li a:link, .navlist2 li a:visited, .navlist2 li a:active {
    color: #7F373A;
    text-decoration: none;
}

.navlist2 li a:hover {
    list-style-image: url(../images/general/li_hover.gif);
    text-decoration: underline;
    color: #312F30;
    background-color: Transparent;
}


/************ navlist1 *************/
.navcontainer {
    width: 100%;
    margin: 0 0 10px 0;
}

.navcontainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navcontainer li {
    margin: 0;
}

.navcontainer a {
    display: block;
    padding: 0 5px;
    background-color: #312F30;
    background-repeat: repeat-x;
    border-bottom: 1px solid #fff;
}

.navcontainer a:link, .navlist1 a:visited {
    color: #EEE;
    text-decoration: none;
}

.navcontainer a:hover {
    background-color: #BA2627;
    color: #fff;
}
