<% fields_for "poll[option_attributes][]", poll_option do |option_form| %>
  <p>
      <label for="option_description">Choice:</label>
      <%= option_form.text_field :description, { :index => nil, :size => 30, :maxlength => 80 } %>
      <%= option_form.hidden_field :id, :index => nil %>
  </p>
<% end %>