<% content_for :head do -%>
    <%= javascript_include_tag "tablecloth" %>
    <%= javascript_include_tag "swfobject" %>
<% end %>
<h1>Burndown Charts</h1>
<%= @burndown_chart %>
<br/>
<br/>
<%= @velocity_chart %>