<% form_tag "activate" do -%>
<p><label for="activation_code">Activation Code</label><br/>
  <%= text_field_tag(:activation_code, params[:activation_code], :size=>50 ) %>
</p>
<p>
  <%= submit_tag 'Activate', :disable_with => "Please wait..." %>
</p>
<% end %>
